<div class="col-md-12">
    <div class="row">
        <div class="col-6">
            <field-input [validationObject]="customForm.firstName"></field-input>
        </div>
        <div class="col-6">
            <field-input [validationObject]="customForm.lastName"></field-input>
        </div>
        <div class="col-6">
            <field-input [validationObject]="customForm.occupation"></field-input>
        </div>
        <div class="col-6">
             <field-input [validationObject]="customForm.nickName"></field-input>
        </div>
        <div class="col-6">
            <custom-radio-group [validationObject]="customForm.gender"></custom-radio-group>
        </div>
        <div class="col-6">
            <custom-radio-group [validationObject]="customForm.accept"></custom-radio-group>
        </div>
        <div class="col-6">
            <div>Selected gender: {{customForm.gender.value ? customForm.gender.value : 'None'}}</div>
            <br>
        </div>
        <div class="col-6">
            <div>Answer: {{customForm.accept.value ? customForm.accept.value : 'None'}}</div>
            <br>
        </div>
        <div class="col-6">
            <custom-radio-group [validationObject]="customForm.changeLayout"></custom-radio-group>
        </div>
        <div class="col-6">
            <custom-checkbox-group [validationObject]="customForm.favoriteFood"></custom-checkbox-group>
             
        </div>
        <div class="col-6">
             <div>Value: {{customForm.changeLayout.value ? customForm.changeLayout.value : 'None'}}</div>
             <br>
        </div>
        <div class="col-6">
            Choices:
            <ol>
                <li *ngFor="let i of customForm.favoriteFood.checkedItems">
                    {{ i }}
                </li>
            </ol>
            <br>
        </div>
        <div class="col-6">
            <custom-dropdown [validationObject]="customForm.dropdownItems.series"></custom-dropdown>
            <br>
        </div>
        <div class="col-6">
            <custom-dropdown [validationObject]="customForm.dropdownItems.movies"></custom-dropdown>
            <br>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary" (click)="submit()">Submit</button>
            <span>{{submitMessage}}</span>
        </div>
        <div class="col-12">
            <br>
            <h5>Options:</h5>
            <input type="checkbox" id="lengthValidation" [checked]="lengthValidationEnabled" (change)="lengthValidationEnabled = !lengthValidationEnabled" />
            <label for="lengthValidation">Length validation for First name enabled</label>
            <br>
            <input type="checkbox" id="nickNameValdation" [checked]="customForm.nickName.disabled" (change)="status()" />
            <label for="nickNameValdation">Disable Input </label>
            <br>
            <input type="checkbox" id="localstorageSave" [checked]="saveToLocalStorageEnabled" (change)="toggleSaveStorage()" />
            <label for="localstorageSave">Save to LocalStorage </label>
        </div>

    </div>
</div>